<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.system.assessment.mapper.RelationshipMapper">

    <resultMap id="User" type="com.system.assessment.pojo.User">
        <id column="id" property="id"></id>
        <result column="name" property="name"></result>
        <result column="username" property="username"></result>
        <result column="work_num" property="workNum"></result>
        <result column="department" property="department"></result>
        <result column="phone_number" property="phoneNumber"></result>
        <result column="email" property="email"></result>
        <result column="hire_date" property="hireDate"></result>
        <result column="role" property="role" ></result>
        <result column="residence" property="residence" ></result>
        <result column="lxyz" property="lxyz" ></result>
        <result column="business_type" property="businessType" typeHandler="com.system.assessment.constants.handler.BusinessTypeHandler"></result>
        <result column="supervisor_name_1" property="supervisorName1"></result>
        <result column="supervisor_name_2" property="supervisorName2"></result>
        <result column="supervisor_name_3" property="supervisorName3"></result>
        <result column="first_admin_name" property="firstAdminName"></result>
        <result column="second_admin_name" property="secondAdminName"></result>
        <result column="super_admin_name" property="superAdminName"></result>
        <result column="hrName" property="hrName"></result>
        <result column="weight1" property="weight1"></result>
        <result column="weight2" property="weight2"></result>
        <result column="weight3" property="weight3"></result>
    </resultMap>


    <resultMap id="RelatedPersonInfo" type="com.system.assessment.vo.RelatedPersonInfoVO">
        <id column="id" property="userId"></id>
        <result column="name" property="name"></result>
        <result column="work_num" property="workNum"></result>
        <result column="department" property="department"></result>
    </resultMap>


    <resultMap id="Assessor" type="com.system.assessment.vo.AssessorVO">
        <id column="department" property="department"></id>
        <result column="username" property="username"></result>
    </resultMap>

    <resultMap id="Evaluator" type="com.system.assessment.vo.RelationshipEvaluatorInfo">
        <id column="id" property="id"></id>
        <result column="name" property="name"></result>
        <result column="work_num" property="workNum"></result>
        <result column="department" property="department"></result>
    </resultMap>


    <resultMap id="FindRelationship" type="com.system.assessment.vo.RelationshipCheckVO">
        <result column="edName" property="evaluatedName"></result>
        <result column="orName" property="evaluatorName"></result>
        <result column="evaluator" property="evaluatorId"></result>
        <result column="evaluated_user" property="evaluatedId"></result>
        <result column="email" property="evaluatorEmail"></result>
        <result column="evaluatedWorkNum" property="evaluatedWorkNum"></result>
        <result column="evaluatorWorkNum" property="evaluatorWorkNum"></result>
    </resultMap>


    <select id="exportAllUser" resultMap="User">
        select  u.id, u.business_type, u.lxyz, u.department, u.name, u.work_num, u.department, u.hire_date,
               u.residence, u.email, u.phone_number, u.role,
        CONCAT(u1.name, '/', u1.work_num) as supervisor_name_1,
        CONCAT(u2.name, '/', u2.work_num) as supervisor_name_2,
        CONCAT(u3.name, '/', u3.work_num) as supervisor_name_3,
        CONCAT(u4.name, '/', u4.work_num) as hrName,
        CONCAT(u5.name, '/', u5.work_num) as first_admin_name,
        CONCAT(u6.name, '/', u6.work_num) as second_admin_name,
        CONCAT(u7.name, '/', u7.work_num) as super_admin_name
        from user as u
        left join user as u1 on u.supervisor_1 = u1.id
        left join user as u2 on u.supervisor_2 = u2.id
        left join user as u3 on u.supervisor_3 = u3.id
        left join user as u4 on u.hr = u4.id
        left join user as u5 on u.first_admin = u5.id
        left join user as u6 on u.second_admin = u6.id
        left join user as u7 on u.super_admin = u7.id
        <where>
            u.is_delete = 0
        </where>
    </select>


    <select id="findAllUser" resultMap="User">
        select  u.id, u.business_type, u.lxyz, u.department,
                CONCAT(u.name, '/', u.work_num) as name,
                CONCAT(u1.name, '/', u1.work_num) as supervisor_name_1,
                CONCAT(u2.name, '/', u2.work_num) as supervisor_name_2,
                CONCAT(u3.name, '/', u3.work_num) as supervisor_name_3,
                CONCAT(u4.name, '/', u4.work_num) as hrName,
                CONCAT(u5.name, '/', u5.work_num) as first_admin_name,
                CONCAT(u6.name, '/', u6.work_num) as second_admin_name,
                CONCAT(u7.name, '/', u7.work_num) as super_admin_name,
                CASE
                WHEN u.weight1 = -1 or u.supervisor_1 = 0 or u.supervisor_1 is null THEN NULL
                ELSE u.weight1
                END AS weight1,
                CASE
                WHEN u.weight2 = -1 or u.supervisor_2 = 0 or u.supervisor_2 is null THEN NULL
                ELSE u.weight2
                END AS weight2,
                CASE
                WHEN u.weight3 = -1 or u.supervisor_3 = 0 or u.supervisor_3 is null THEN NULL
                ELSE u.weight3
                END AS weight3
        from user as u
        left join user as u1 on u.supervisor_1 = u1.id
        left join user as u2 on u.supervisor_2 = u2.id
        left join user as u3 on u.supervisor_3 = u3.id
        left join user as u4 on u.hr = u4.id
        left join user as u5 on u.first_admin = u5.id
        left join user as u6 on u.second_admin = u6.id
        left join user as u7 on u.super_admin = u7.id
        <where>
            u.is_delete = 0
            <if test="name != null and name != ''">
                AND u.name like concat('%',#{name},'%')
            </if>
        </where>
    </select>


    <select id="findEvaluatorById" resultMap="Evaluator">
        select u.id, u.name, u.work_num, u.department
        from evaluate_relations as er
        left join user as u on er.evaluator = u.id
        where er.evaluated_user = #{id} and er.evaluate_type = #{type} and er.enable = 1
    </select>


    <select id="findAllRelationship" resultMap="FindRelationship">
        select er.evaluated_user, er.evaluator, us.name as orName, ua.name as edName, us.email, us.work_num as evaluatorWorkNum,
               ua.work_num as evaluatedWorkNum
        from evaluate_relations as er
                 left join user as us on er.evaluator = us.id
                 left join user as ua on er.evaluated_user = ua.id
        where  er.enable = 1
    </select>

    <select id="findAllEvaluated" resultType="int">
        select DISTINCT er.evaluated_user
        from evaluate_relations as er
        where  er.enable = 1
    </select>

    <select id="findSingleRelationship" resultType="int">
        select id
        from evaluate_relations
        where  evaluated_user = #{evaluatedId} and evaluator = #{evaluatorId} and enable = 1
    </select>


    <select id="findRelatedPersonInfo" resultMap="RelatedPersonInfo">
        select u.id, u.department, u.work_num,
               CONCAT(u.name, '/', u.work_num) as name
        from evaluate_relations as er
        left join user as u on u.id = er.evaluator
        where  er.evaluated_user = #{id} and er.evaluate_type = 1 and er.enable = 1
    </select>



    <select id="findEvaluatedById" resultMap="Assessor">
        select u.department,
               CONCAT(u.name, '/', u.work_num) as username
        from evaluate_relations as er
                 left join user as u on u.id = er.evaluated_user
        where  er.evaluator = #{id}  and er.enable = 1
    </select>

    <select id="findAssessor" resultMap="Assessor">
        select u.department,
               CONCAT(u.name, '/', u.work_num) as username
        from evaluate_relations as er
                 left join user as u on u.id = er.evaluated_user
        where  er.evaluator = #{id} and er.evaluate_type = 0 and er.enable = 1
    </select>


    <insert id="addRelationship" parameterType="com.system.assessment.pojo.EvaluateRelationship" >
        INSERT INTO evaluate_relations (evaluated_user, evaluator,  evaluate_type,  epoch, enable) VALUES
        (#{relationship.evaluatedUser},
         #{relationship.evaluator},
         #{relationship.evaluateType,typeHandler=com.system.assessment.constants.handler.RelationTypeHandler},
         #{relationship.epoch},
         #{relationship.enable})
    </insert>


    <update id="deleteRelationshipById" >
        update  evaluate_relations
        set enable = 0
        WHERE evaluated_user = #{id} OR evaluator = #{id}
    </update>

    <delete id="clearRelationshipById" >
        delete from  evaluate_relations
        WHERE evaluated_user = #{id} OR evaluator = #{id}
    </delete>

    <update id="addRelationshipEpoch" >
        update  evaluate_relations
        set epoch = epoch + 1
    </update>


    <delete id="deleteFixedRelationship" >
        DELETE from  evaluate_relations
        WHERE evaluate_type = 1
    </delete>

    <update id="deleteEvaluationMatrix" >
        UPDATE  evaluate_relations
        set enable = 0
        WHERE evaluated_user = #{userId} and evaluator = #{evaluatorId} and evaluate_type = #{type} and enable = 1
    </update>


    <delete id="deleteEvaluation" >
        DELETE FROM evaluate_relations
        WHERE evaluated_user = #{userId} and evaluator = #{evaluatorId} and evaluate_type = #{type}
    </delete>


    <delete id="deleteEvaluationMatrixEnableFalse" >
        DELETE FROM evaluate_relations
        WHERE enable = 0
    </delete>

    <delete id="deleteSelfRelationship" >
        DELETE from evaluate_relations
        WHERE evaluate_type = 0
    </delete>

    <delete id="deleteAllRelationshipByEvaluatedId" >
        DELETE from evaluate_relations
        WHERE evaluate_type = 1 and evaluated_user = #{id}
    </delete>

</mapper>